{% extends 'base.twig' %}
{% block css %}
    <style type="text/css">
        img.img-responsive {
            margin: 0 auto;
        }

        .step h3.popover-title {
            margin-bottom: 0;
        }

        body {
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="container" id="main">

        <!-- Start Survey container -->
        <div id="survey_container">

            <form name="MoCA_MMSEForm" id="wrapped" action="" method="POST">

                <div class="step row">
                    <div class="col-md-12" style="text-align: center">
                        <br>
                        <br>
                        <h4> {{ MoCA_MMSE_Question_Briefing| raw }} </h4>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="step row">
                    <div class="col-md-11">
                        <br>
                        <div class="form-group">
                            <h4 for="MoCA_MMSE_question1">{{ MoCA_MMSE_Question1 | raw }}</h4>
                            <input type="number" min="2000" max="2100" class="form-control" name="MoCA_MMSE_Ans1">
                        </div>
                        <ul class="data-list">
                            <li><h4>{{ MoCA_MMSE_Question2 | raw }}</h4>
                                <div class="styled-select">
                                    <select class="form-control" name="MoCA_MMSE_Ans2">
                                        <option value="" selected>Select one</option>
                                        <option value="January">{{ MoCA_MMSE_January | raw }}</option>
                                        <option value="February">{{ MoCA_MMSE_February | raw }}</option>
                                        <option value="March">{{ MoCA_MMSE_March  | raw }}</option>
                                        <option value="April">{{ MoCA_MMSE_April | raw }}</option>
                                        <option value="May">{{ MoCA_MMSE_May | raw }}</option>
                                        <option value="June">{{ MoCA_MMSE_June | raw }}</option>
                                        <option value="July">{{ MoCA_MMSE_July | raw }}</option>
                                        <option value="August">{{ MoCA_MMSE_August | raw }}</option>
                                        <option value="September">{{ MoCA_MMSE_September | raw }}</option>
                                        <option value="October">{{ MoCA_MMSE_October | raw }}</option>
                                        <option value="November">{{ MoCA_MMSE_November | raw }}</option>
                                        <option value="December">{{ MoCA_MMSE_December | raw }}</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <ul class="data-list">
                            <li><h4>{{ MoCA_MMSE_Question3 | raw }}</h4>
                                <div class="styled-select">
                                    <select class="form-control" name="MoCA_MMSE_Ans3">
                                        <option value="" selected>{{ MoCA_MMSE_SelectOne | raw }}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <ul class="data-list">
                            <li><h4>{{ MoCA_MMSE_Question4 | raw }}</h4>
                                <div class="styled-select">
                                    <select class="form-control" name="MoCA_MMSE_Ans4">
                                        <option value="" selected>Select one</option>
                                        <option value="Monday">{{ MoCA_MMSE_Monday | raw }}</option>
                                        <option value="Tuesday">{{ MoCA_MMSE_Tuesday | raw }}</option>
                                        <option value="Wednesday">{{ MoCA_MMSE_Wednesday | raw }}</option>
                                        <option value="Thursday">{{ MoCA_MMSE_Thursday | raw }}</option>
                                        <option value="Friday">{{ MoCA_MMSE_Friday | raw }}</option>
                                        <option value="Saturday">{{ MoCA_MMSE_Saturday | raw }}</option>
                                        <option value="Sunday">{{ MoCA_MMSE_Sunday | raw }}</option>
                                    </select>
                                </div>
                            </li>
                        </ul>


                        <div class="container-fluid">
                            <h4 for="usr">{{ MoCA_MMSE_Question5 | raw }}</h4>
                            <div class="row">
                                <div class="col-xs-3">
                                    <select class="form-control" name="MoCA_MMSE_Ans5H">
                                        <option value="" selected>{{ MoCA_MMSE_Month}}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <select class="form-control" name="MoCA_MMSE_Ans5M">
                                        <option value="" selected>{{ MoCA_MMSE_Minutes | raw }}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                        <option value="40">40</option>
                                        <option value="41">41</option>
                                        <option value="42">42</option>
                                        <option value="43">43</option>
                                        <option value="44">44</option>
                                        <option value="45">45</option>
                                        <option value="46">46</option>
                                        <option value="47">47</option>
                                        <option value="48">48</option>
                                        <option value="49">49</option>
                                        <option value="50">50</option>
                                        <option value="51">51</option>
                                        <option value="52">52</option>
                                        <option value="53">53</option>
                                        <option value="54">54</option>
                                        <option value="55">55</option>
                                        <option value="56">56</option>
                                        <option value="57">57</option>
                                        <option value="58">58</option>
                                        <option value="59">59</option>
                                    </select>
                                    <select class="form-control" name="MoCA_MMSE_Ans5AMPM">
                                        <option value="" selected>AM/PM</option>
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step row">
                    <div class="col-md-12" style="text-align: center">
                        <br>
                        <br>
                        <h4> {{ MoCA_MMSE_Question_Briefing2 | raw }} </h4>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="step row">
                    <div class="col-md-11">
                        <br>
                        <div class="form-group">
                            <h4 for="MoCA_MMSE_question6">{{ MoCA_MMSE_Question6 | raw }}</h4>
                            <input type="text" class="form-control" name="MoCA_MMSE_Ans6">
                        </div>
                        <div class="form-group">
                            <h4 for="MoCA_MMSE_question7">{{ MoCA_MMSE_Question7 | raw }}</h4>
                            <input type="text" class="form-control" name="MoCA_MMSE_Ans7">
                        </div>
                        <div class="form-group">
                            <h4 for="MoCA_MMSE_question8">{{ MoCA_MMSE_Question8 | raw }}</h4>
                            <input type="text" class="form-control" name="MoCA_MMSE_Ans8">
                        </div>
                        <div class="form-group">
                            <h4 for="MoCA_MMSE_question9">{{ MoCA_MMSE_Question9 | raw }}</h4>
                            <input type="text" class="form-control" name="MoCA_MMSE_Ans9">
                        </div>
                        <div class="form-group">
                            <h4 for="MoCA_MMSE_question10">{{ MoCA_MMSE_Question10 | raw }}</h4>
                            <input type="text" class="form-control" name="MoCA_MMSE_Ans10">
                        </div>
                    </div>
                </div>
                <div class="submit step" id="complete">
                    <i class="icon-check"></i>
                    <h3>Nice Job! </h3>
                    <button type="submit" name="process" class="submit">{{ MoCA_MMSE_Submit | raw }}</button>
                </div><!-- end submit step -->

                <div id="bottom-wizard">
                    <button type="button" name="backward" class="backward">{{ Backward | raw }}</button>
                    <button type="button" name="forward" class="forward">{{ Forward | raw }}</button>
                </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>
        function callNativeApp () {
            try {
                webkit.messageHandlers.callbackHandler.postMessage("camera");
            } catch(err) {
                console.log('The native context does not exist yet');
            }
        }

        var id = getUrlVars()['id'];
        // Form submit
        $('form').on('submit', function(e) {
            $.post('http://api.girlscouts.harryatwal.com/participant/' + id + '/moca_mmse', $(this).serialize())
                    .done(function(data) {
                        /*$('button[name="forward"]').trigger('click');*/
                    });
            callNativeApp();
            e.preventDefault();
        });

    </script>
{% endblock %}
