{% extends 'base.twig' %}
{% block title %} motorTitle {% endblock %}
{% block css %}
    <style type="text/css">
        #motorTaskOneDominant1a, #motorTaskOneDominant1b, #motorTaskOneDominant2a, #motorTaskOneDominant2b, #motorTaskOneDominant3a, #motorTaskOneDominant3b {
            display: none;
        }
        img.img-responsive {
            margin: 0 auto;
        }

        .step h3.popover-title {
            margin-bottom: 0;
        }
        #forwardButton{
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- BIG TODO: The act of forceing the user to the next test seems to interrupt the drawing process. This means the lines the user drawn
     won't get saved and therefore are lost. Unless the user lifts their finger. Need to find a way to store the points immediatly?  -Dom Fixed, need to verify this -->

    <section class="container" id="main">
        <!-- Start Survey container -->
        <div id="survey_container">
            <form name="motorTask" id="wrapped">
                <div id="middle-wizard">
                    <!-- Motor Task one instructions -->
                    <div class="step row">
                        <div class="">
                            <h4>
                                {{ motorInstructions1 | raw }}
                            </h4>
                            &nbsp;
                            &nbsp;
                            <button id="MotorTaskStartInstructions1" type="button" class="btn center-block"><b>FORWARD</b></button>
                        </div>
                    </div>
                    <!-- Motor Task one Dominant -->
                    <div class="step row">
                        <div class="row">
                            <div class="col-xs-9">
                                <h4>{{ motorInstructionsDominant | raw }}</h4>
                            </div>
                            <div class="col-xs-3">
                                <h4>
                                    <span class="counter">15</span> {{ motorSecond | raw }}
                                </h4>
                            </div>
                        </div>
                        <div id="canvas-drawing">
                            <canvas id='motorTaskOneDominant1a' class="center-block" width="850" height="600" style="border:1px solid #000000;"></canvas>
                            <!-- Button to start the motor task -->
                            <button id="MotorTask1a" type="button" class="btn center-block">{{ motorStart | raw}}</button>
                            <!--setInterval(countdown(), 10) -->
                        </div>
                    </div>
                    <!-- Motor Task one Non-Dominant -->
                    <div class="step row">
                        <div class="col-xs-9">
                            <h4>{{ motorInstructionsNonDominant | raw }}</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>
                                <span class="counter">15</span> {{ motorSecond | raw }}
                            </h4>
                        </div>

                        <div id="canvas-drawing">
                            <canvas id='motorTaskOneDominant1b' class="center-block" width="850" height="600" style="border:1px solid #000000;"></canvas>
                            <button id="MotorTask1b" type="button" class="btn center-block">{{ motorStart | raw}}</button>
                        </div>
                    </div>

                    <!-- Motor Task two instructions -->
                    <div class="step row">
                        <div class="col-md-12 text-center">
                            <h4>
                                {{ motorInstructions2 | raw }}
                            </h4>
                            &nbsp;
                            &nbsp;
                            <button id="MotorTaskStartInstructions2" type="button" class="btn center-block"><b>FORWARD</b></button>
                        </div>
                    </div>
                    <!-- Motor Task two Dominant -->
                    <div class="step row">
                        <div class="col-xs-9">
                            <h4>{{ motorInstructionsDominant | raw }}</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>
                                <span class="counter">15</span> {{ motorSecond | raw }}
                            </h4>
                        </div>
                        <div id="canvas-drawing">
                            <canvas id='motorTaskOneDominant2a' class="center-block" width="611" height="542" style="border:1px solid #000000;"></canvas>
                            <button id="MotorTask2a" type="button" class="btn center-block">{{ motorStart | raw}}</button>
                        </div>
                    </div>
                    <!-- Motor Task two Non-Dominant -->
                    <div class="step row">
                        <div class="col-xs-9">
                            <h4>{{ motorInstructionsNonDominant | raw }}</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>
                                <span class="counter">15</span> {{ motorSecond | raw }}
                            </h4>
                        </div>

                        <div id="canvas-drawing">
                            <canvas id='motorTaskOneDominant2b' class="center-block" width="611" height="542" style="border:1px solid #000000;"></canvas>
                            <button id="MotorTask2b" type="button" class="btn center-block">{{ motorStart | raw}}</button>
                        </div>
                    </div>


                    <!-- Motor Task three instructions -->
                    <div class="step row">
                        <div class="col-md-12 text-center">
                            <h4>
                                {{ motorInstructions3 | raw }}
                            </h4>
                            &nbsp;
                            &nbsp;
                            <button id="MotorTaskStartInstructions3" type="button" class="btn center-block"><b>{{ UniversalForward | raw }}</b></button>
                        </div>
                    </div>
                    <!-- Motor Task three Dominant -->
                    <div class="step row">
                        <div class="col-xs-9">
                            <h4>{{ motorInstructionsDominant | raw }}</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>
                                <span class="counter">15</span> {{ motorSecond | raw }}
                            </h4>
                        </div>

                        <div id="canvas-drawing">
                            <canvas id='motorTaskOneDominant3a' class="center-block" width="850" height="600" style="border:1px solid #000000;"></canvas>
                            <button id="MotorTask3a" type="button" class="btn center-block">{{ motorStart | raw }}</button>
                        </div>
                    </div>
                    <!-- Motor Task three Non-Dominant -->
                    <div class="step row">
                        <div class="col-xs-10">
                            <h4>{{ motorInstructionsNonDominant | raw }}</h4>
                        </div>
                        <div class="col-xs-2">
                            <h4>
                                <span class="counter">15</span> {{ motorSecond | raw }}
                            </h4>
                        </div>

                        <div id="canvas-drawing ">
                            <canvas id='motorTaskOneDominant3b' class="center-block" width="850" height="600" style="border:1px solid #000000;"></canvas>
                            <button id="MotorTask3b" type="button" class="btn center-block">{{ motorStart | raw }}</button>
                        </div>
                    </div>


                    <div class="submit step" id="complete">
                        <i class="icon-check"></i>
                        <h3>{{ UniversalTestComplete | raw }}</h3>
                        <button type="submit" name="process" class="submit">{{ UniversalSubmit | raw }}</button>
                    </div><!-- end submit step -->
                </div>

                <div id="bottom-wizard">
                    <button id="forwardButton" type="button" name="forward" class="forward" hidden>{{ UniversalForward }}</button>
                </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>
        function callNativeApp() {
            try {
                webkit.messageHandlers.callbackHandler.postMessage("camera");
            } catch(err) {
                console.log('The native context does not exist yet');
            }
        }

        var timer;

        function drawRectangle(layer) {
            return {
                type: 'rectangle',
                fillStyle: '#585',
                x: layer.eventX, y: layer.eventY,
                width: 10, height: 10,
                index: 1
            };
        }
        function drawRec(width, height) {
            return {
                layer: true,
                x: 0, y: 0,
                width: width, height: height,
                fromCenter: false,
                mousedown: function (layer) {
                    $(this).addLayer(drawRectangle(layer)).drawLayers();
                }
            };
        }
        function imageObject(imagePath, width, height) {
            return {
                layer: true,
                x: 0, y: 0,
                width: width, height: height,
                index: 0,
                source: imagePath,
                fromCenter: false
            };
        }

        var $MotorTaskStartInstructions1 = $('#MotorTaskStartInstructions1');
        var $MotorTaskStartInstructions2 = $('#MotorTaskStartInstructions2');
        var $MotorTaskStartInstructions3 = $('#MotorTaskStartInstructions3');
        var $motor1a = $('#MotorTask1a');
        var $motor1b = $('#MotorTask1b');
        var $motor2a = $('#MotorTask2a');
        var $motor2b = $('#MotorTask2b');
        var $motor3a = $('#MotorTask3a');
        var $motor3b = $('#MotorTask3b');
        var $counter = $('.counter');
        var $forward = $('#forwardButton');
        var $motorTaskOneDominant1a = $("#motorTaskOneDominant1a");
        var $motorTaskOneDominant1b = $("#motorTaskOneDominant1b");
        var $motorTaskOneDominant2a = $("#motorTaskOneDominant2a");
        var $motorTaskOneDominant2b = $("#motorTaskOneDominant2b");
        var $motorTaskOneDominant3a = $("#motorTaskOneDominant3a");
        var $motorTaskOneDominant3b = $("#motorTaskOneDominant3b");

        $(document).ready(function () {
            var ptsPractice = [];
            var line_objPractice = {};
            var isDownPractice = false;
            var practice_name = 0;

            //Timer variables for part 1, each array will contain the duration of each finger down, up.
            var timer1 = 0;
            var timer2 = 0;
            var timeStart = 0;
            var tmt1_time = 0;
            var tmt2_time = 0;
            var timerStartedYet = false;


            var drawingObject = {
                mousedown: function (layer) {
                    if(!timerStartedYet){
                        //Set the field to the start value
                        timeStart = performance.now();
                        timerStartedYet = true;
                    }

                    practice_name++;

                    line_objPractice = {
                        layer: true,
                        type: 'line',
                        name: "practice" + practice_name,
                        strokeStyle: "#000",
                        strokeWidth: 2
                    };

                    isDownPractice = true;
                    ptsPractice.push([layer.eventX, layer.eventY]);

                    $(this).addLayer(line_objPractice).drawLayers();
                    $(this).moveLayer("practice" + practice_name, 1);
                },
                mousemove: function (layer) {
                    if (isDownPractice) {
                        ptsPractice.push([layer.eventX, layer.eventY]);
                        for (var p = 0; p < ptsPractice.length; p += 1) {
                            line_objPractice['x' + (p + 1)] = ptsPractice[p][0];
                            line_objPractice['y' + (p + 1)] = ptsPractice[p][1];
                        }
                        $(this).drawLine(line_objPractice);
                    }
                },
                mouseup: function (layer) {
                    $(this).setLayer("practice" + practice_name, line_objPractice).drawLayers();

                    line_objPractice = {};
                    ptsPractice = [];
                    isDownPractice = false;
                },
                mouseout: function (layer) {
                    $(this).setLayer("practice" + practice_name, line_objPractice).drawLayers();
                }
            };

            //Setup Drawing Steps
            //The first two parts of this test are just drawing a line through a maze
            $motorTaskOneDominant1a.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 850, height: 600,
                fromCenter: false,
                name: 'practice'
            }).setLayer('practice', drawingObject);
            $motorTaskOneDominant1b.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 850, height: 600,
                fromCenter: false,
                name: 'practice'
            }).setLayer('practice', drawingObject);

            $motorTaskOneDominant2a.drawRect(drawRec(800, 600));
            $motorTaskOneDominant2b.drawRect(drawRec(800, 500));
            $motorTaskOneDominant3a.drawRect(drawRec(850, 600));
            $motorTaskOneDominant3b.drawRect(drawRec(850, 600));


            //To prevent confusion between forward and start, we're going to use a button to go to the next row
            $MotorTaskStartInstructions1.click(function () {
                $forward.trigger('click');
            });
            $MotorTaskStartInstructions2.click(function () {
                $forward.trigger('click');
            });
            $MotorTaskStartInstructions3.click(function () {
                $forward.trigger('click');
            });
            //Draw respective images onto canvases. and start the test.
            $motor1a.click(function () {
                setupMotorTask($motorTaskOneDominant1a, $(this), imageObject("/assets/img/motorTasks/Trazado.png", 850, 600));
                $('button[name="forward"]').prop('disabled', true);
                window.scrollBy(0,45);
            });
            $motor1b.click(function () {
                setupMotorTask($motorTaskOneDominant1b, $(this), imageObject("/assets/img/motorTasks/Trazado.png", 850, 600));
                $('button[name="forward"]').prop('disabled', true);
                window.scrollBy(0,45);
            });
            $motor2a.click(function () {
                setupMotorTask($motorTaskOneDominant2a, $(this), imageObject("/assets/img/motorTasks/Marcado.png", 611, 542));
                $('button[name="forward"]').prop('disabled', true);
                window.scrollBy(0,45);
            });
            $motor2b.click(function () {
                setupMotorTask($motorTaskOneDominant2b, $(this), imageObject("/assets/img/motorTasks/Marcado.png", 611, 542));
                $('button[name="forward"]').prop('disabled', true);
                window.scrollBy(0,45);
            });
            $motor3a.click(function () {
                setupMotorTask($motorTaskOneDominant3a, $(this), imageObject("/assets/img/motorTasks/Punteado.png", 850, 600));
                $('button[name="forward"]').prop('disabled', true);
                window.scrollBy(0,45);
            });
            $motor3b.click(function () {
                setupMotorTask($motorTaskOneDominant3b, $(this), imageObject("/assets/img/motorTasks/Punteado.png", 850, 600));
                $('button[name="forward"]').prop('disabled', true);
                window.scrollBy(0,45);
            });

            $forward.on('click', function() {
                if (timerStartedYet) {
                    if (tmt1_time == 0) {
                        tmt1_time = performance.now() - timeStart;
                    } else if (tmt2_time == 0) {
                        tmt2_time = performance.now() - timeStart;
                    }

                    timerStartedYet = false;
                }
            });

            //Submission
            $('form').on('submit', function(e) {
                var id = getUrlVars()['id'];
                //Grab the canvases to submit
                var c = document.getElementById("motorTaskOneDominant1a");
                var dataURL1 = c.toDataURL("image/png");
                var c1 = document.getElementById("motorTaskOneDominant1b");
                var dataURL2 = c1.toDataURL("image/png");
                var c3 = document.getElementById("motorTaskOneDominant2a");
                var dataURL3 = c3.toDataURL("image/png");
                var c4 = document.getElementById("motorTaskOneDominant2b");
                var dataURL4 = c4.toDataURL("image/png");
                var c5 = document.getElementById("motorTaskOneDominant3a");
                var dataURL5 = c5.toDataURL("image/png");
                var c6 = document.getElementById("motorTaskOneDominant3b");
                var dataURL6 = c6.toDataURL("image/png");

                var data = {
                    motorTask1a: dataURL1,
                    timesTMT1: tmt1_time,
                    motorTask1b: dataURL2,
                    timesTMT2: tmt2_time,
                    motorTask2a: dataURL3,
                    motorTask2b: dataURL4,
                    motorTask3a: dataURL5,
                    motorTask3b: dataURL6
                };

                $.post("http://api.girlscouts.harryatwal.com/participant/" + id + "/motorTask", data)
                    .done(function (o) {
                        console.log('saved');
                    });


                callNativeApp();
                e.preventDefault();
            });
        });


        //Setup the MotorTask 1 and start the timer
        function setupMotorTask($canvas, $btn, $image) {
            $canvas.drawImage($image).drawLayers();
            $canvas.show();
            $counter.text(15);
            timer = setInterval(countdown, 1000);
            $btn.hide();
        }

        <!--Timer Stuff -->
        function countdown() {
            $counter.text(parseInt($counter.first().text()) - 1);
            if ($counter.text() == 0) {
                clearInterval(timer);
                $forward.trigger('click');
            }
        }



    </script>
{% endblock %}
