{% extends 'base.twig' %}

{% block title %}Rey Complex Figure task{% endblock %}
{% block css %}
    <style type="text/css">
        img.img-responsive {
            margin: 0 auto;
        }

        .step h3.popover-title {
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <!--
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h1>{{ RCFT }}</h1>
            </div>
        </div>
    </div>
    -->

    <section class="container" id="main">

        <!-- Start Survey container -->
        <div id="survey_container">
            <!--
            <div id="top-wizard">
                <strong>Progress <span id="location"></span></strong>
                <div id="progressbar"></div>
                <div class="shadow"></div>
            </div>
            end top-wizard -->

            <form name="reyComplexFigure2" id="wrapped" action="" method="POST">
                <!-- RCFT1 -->
                <div id="middle-wizard">

                    <div class="step row">
                        <div class="col-md-12" style="text-align: center">
                            <h4>
                                {{ RCFTInsructions2 | raw }}
                            </h4>
                        </div>
                    </div>
                    <!-- Drawing Part 2 -->
                    <div class="step row">

                        <div id="canvas-drawing">
                            <canvas id='RCFT2' class="center-block" width="600" height="470" style="border:1px solid #000000;"></canvas>
                        </div>
                        <br>
                        <!--<button type="button" class="btn center-block" id="part2Submit" onclick="part2Submit()">Done</button> -->
                    </div>
                    <input type="hidden" id="timer" name="drawingTimes"  value=0>
                    <div class="submit step" id="complete">
                        <i class="icon-check"></i>
                        <h3>{{ RCFTTestComplete | raw }}</h3>
                        <button type="submit" name="process" class="submit">{{ RCFTSubmit | raw }}</button>
                    </div><!-- end submit step -->
                </div>

                <div id="bottom-wizard">
                    <button id="backwardButton" type="button" name="backward" class="backward">{{ RCFTBackward | raw}}</button>
                    <button id="forwardButton" type="button" name="forward" class="forward">{{ RCFTForward | raw }}</button>
                </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>


        function callNativeApp () {
            try {
                webkit.messageHandlers.callbackHandler.postMessage("camera");
            } catch(err) {
                console.log('The native context does not exist yet');
            }
        }

        function redraw() {
            for (var i = 0; i < lines2.length; i++) {
                $(this).drawLine(lines2[i]);
            }
        }

        $(document).ready(function () {
            // Scroll up on forward click
            $('button[name="forward"]').on('click', function() {
                $('body,html').stop();
                $('body,html').animate({scrollTop:0},500);
            });


            var $canvas2 = $("#RCFT2");
            var ptsArray = [];
            var lineObj= {};
            var isDown = false;
            var movingVar = 0;

            //Timers for the drawing stuff
            var timerStartedYet = 0;


            var drawingObject = {
                mousedown: function (layer) {
                    movingVar++;

                    //Check to see if this is the users first time drawing, if it is, start time, set bool to true
                    if(timerStartedYet == 0){
                        //Set the field to the start value
                        var timeStart = performance.now();
                        document.getElementById('timer').value = timeStart;
                        timerStartedYet =1;
                    }

                    lineObj = {
                        layer: true,
                        type: 'line',
                        name: "practice" + movingVar,
                        strokeStyle: "#000",
                        strokeWidth: 2
                    };

                    isDown = true;
                    ptsArray.push([layer.eventX, layer.eventY]);

                    $(this).addLayer(lineObj).drawLayers();
                    $(this).moveLayer("practice" + movingVar, 0);
                },
                mousemove: function (layer) {
                    if (isDown) {
                        ptsArray.push([layer.eventX, layer.eventY]);
                        for (var p = 0; p < ptsArray.length; p += 1) {
                            lineObj['x' + (p + 1)] = ptsArray[p][0];
                            lineObj['y' + (p + 1)] = ptsArray[p][1];
                        }
                        $(this).drawLine(lineObj);
                    }
                },
                mouseup: function (layer) {
                    $(this).setLayer("practice" + movingVar, lineObj).drawLayers();

                    lineObj = {};
                    ptsArray = [];
                    isDown = false;
                },
                mouseout: function (layer) {
                    $(this).setLayer("practice" + movingVar, lineObj).drawLayers();
                }
            };

            $canvas2.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 600, height: 470,
                fromCenter: false,
                name: 'canvas2'
            }).setLayer('canvas2', drawingObject);

            //Submission of test
            $('form').on('submit', function(e) {
                var c = document.getElementById("RCFT2");
                var dataURL = c.toDataURL("image/png");
                /*window.open(c.toDataURL('image/png'));*/

                //Calculate time taken for this test
                var startTime = document.getElementById('timer').value;
                var endTime = performance.now();
                var elapsedTime = endTime - startTime;
                var userID = getUrlVars()['id'];
                console.log("Elapsed time = " + elapsedTime);

                var data = {
                    imgBase64: dataURL,
                    timeTaken: elapsedTime,
                    name: "reyComplexFigure2"
                };

                $.post("http://api.girlscouts.harryatwal.com/participant/" + userID + "/reyComplexFigure2", data)
                        .done(function (o) {
                            console.log('saved');
                        });

                callNativeApp();
                e.preventDefault();
            });



        });
        // Will push the page down so that the drawing portion is centered.
        // Test test
        function scrollIntoView() {
            document.getElementById( 'RCFT1' ).scrollIntoView();
        };




    </script>
{% endblock %}
