{% extends 'base.twig' %}

{% block title %}Trail Making Test{% endblock %}
{% block css %}
    {#<style type="text/css">#}
    {#img.img-responsive {#}
    {#margin: 0 auto;#}
    {#}#}

    {#.step h3.popover-title {#}
    {#margin-bottom: 0;#}
    {#}#}
    {#</style>#}
{% endblock %}
{% block content %}
    <section class="container" id="main">

        <!-- Start Survey container -->
        <div id="survey_container">
            <form name="trailMaking" id="wrapped">
                <!-- RCFT1 -->
                <div id="middle-wizard">

                    <div class="step row">
                        <div class="col-md-12" style="text-align: center">
                            <h4>
                                {{ TrailMakingInstructions | raw }}
                            </h4>
                        </div>
                    </div>

                    <div class="step row">
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/tdIzLAPhOsY" frameborder="0" allowfullscreen></iframe> -->
                        <video width="640" height="480" controls>
                            <source src="/assets/vid/TMT_1.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>

                    <!-- Trail Making Part 1 -->
                    <div class="step row">
                        <h4>{{ TrailMakingInstructionsDone | raw }}</h4>
                        <br>
                        <div id="canvas-drawing">
                            <canvas id="TMT1" class="center-block" width="605" height="753" style="border:1px solid #000000;"></canvas>
                        </div>
                    </div>

                    <div class="step row">
                        <div class="col-md-12">
                            <h4>
                                {{ TrailMakingInstructions1 | raw }}
                            </h4>
                        </div>
                    </div>

                    <div class="step row">
                        <div class="col-md-12">
                            <p>
                                <video width="640" height="480" controls>
                                    <source src="/assets/vid/TMT_2.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </p>
                        </div>
                    </div>

                    <!-- Trail Making Part 2 -->
                    <div class="step row">
                        <h4>{{ TrailMakingInstructionsDone | raw }}</h4>

                        <br>
                        <div id="canvas-drawing">
                            <canvas id="TMT2" class="center-block" width="620" height="745" style="border:1px solid #000000;"></canvas>
                        </div>
                    </div>
                    <div class="submit step" id="complete">
                        <i class="icon-check"></i>
                        <h3>{{ UniversalTestComplete }}</h3>
                        <button type="submit" name="process" class="submit">{{ UniversalSubmit }}</button>
                    </div><!-- end submit step -->
                </div>
                <div id="bottom-wizard">
                    <button type="button" name="forward" class="forward">{{ UniversalForward | raw }}</button>
                </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>
        function callNativeApp () {
            try {
                webkit.messageHandlers.callbackHandler.postMessage("camera");
            } catch(err) {
                console.log('The native context does not exist yet');
            }
        }

        $(document).ready(function () {

            // Scroll up on forward click
            $('button[name="forward"]').on('click', function() {
                $('body,html').stop();
                $('body,html').animate({scrollTop:0},500);
            });

            var $TMT1 = $("#TMT1"); //Practice Canvas
            var $TMT2 = $("#TMT2"); //Practice Canvas
            var pts = [];
            var line_obj = {};
            var isDown = false;
            var trail_name = 0;
            var timerStartedYet = false;
            var timeStart = 0;
            var $forward = $('button[name="forward"]');
            var tmt1_time = 0;
            var tmt2_time = 0;

            var drawingObject = {
                mousedown: function (layer) {
                    //Check to see if this is the users first time drawing, if it is, start time, set bool to true
                    if(!timerStartedYet){
                        //Set the field to the start value
                        timeStart = performance.now();
                        timerStartedYet = true;
                    }
                    trail_name++;
                    line_obj = {
                        layer: true,
                        type: 'line',
                        name: "trail" + trail_name,
                        strokeStyle: "#000",
                        strokeWidth: 2
                    };

                    isDown = true;
                    pts.push([layer.eventX, layer.eventY]);

                    $(this).addLayer(line_obj).drawLayers();
                    $(this).moveLayer("trail" + trail_name, 1);
                },
                mousemove: function (layer) {
                    if (isDown) {
                        pts.push([layer.eventX, layer.eventY]);
                        for (var p = 0; p < pts.length; p += 1) {
                            line_obj['x' + (p + 1)] = pts[p][0];
                            line_obj['y' + (p + 1)] = pts[p][1];
                        }
                        $(this).drawLine(line_obj);
                    }
                },
                mouseup: function (layer) {
                    $(this).setLayer("trail" + trail_name, line_obj).drawLayers();

                    line_obj = {};
                    pts = [];
                    isDown = false;
                },
                mouseout: function (layer) {
                    $(this).setLayer("trail" + trail_name, line_obj).drawLayers();
                }
            };

            $TMT1.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 605, height: 753,
                fromCenter: false,
                name: 'tmt1'
            }).setLayer('tmt1', drawingObject);

            $TMT2.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 620, height: 745,
                fromCenter: false,
                name: 'tmt2'
            }).setLayer('tmt2', drawingObject);

            //Place Trail Images onto board.
            $TMT1.drawImage({
                layer: true,
                x: 0, y: 0,
                index: 0,
                source: "/assets/img/trail_Making/TrailPartA.png",
                fromCenter: false
            }).drawLayers();

            $TMT2.drawImage({
                layer: true,
                x: 0, y: 0,
                index: 0,
                source: "/assets/img/trail_Making/TrailPartB.png",
                fromCenter: false
            }).drawLayers();

            $forward.on('click', function() {
                if (timerStartedYet) {
                    if (tmt1_time == 0) {
                        tmt1_time = performance.now() - timeStart;
                    } else {
                        tmt2_time = performance.now() - timeStart;
                    }

                    timerStartedYet = false;
                }
            });

            //Submission of test
            $('form').on('submit', function(e) {
                //Grab the two canvases to submit
                var c = document.getElementById("TMT1");
                var dataURL1 = c.toDataURL("image/png");
                var c1 = document.getElementById("TMT2");
                var dataURL2 = c1.toDataURL("image/png");

                var data = {
                    TMTCanvas1: dataURL1, //TMT1
                    timesTMT1: tmt1_time, //This is an array
                    TMTCanvas2: dataURL2, //TMT2
                    timesTMT2: tmt2_time //This is an array
                };

                var id = getUrlVars()['id'];
                console.log(data);
                $.post('http://api.girlscouts.harryatwal.com/participant/' + id + '/trailMaking', data)
                        .done(function (o) {
                            console.log('saved');
                        });

                callNativeApp();
                e.preventDefault();
            });
        });

    </script>
{% endblock %}
